.main-content__section._description
	.productionDetail
		.container
			.production-top
				a.link-arrowed._back(href="#{pages[4]}") Вся продукция
				h1.title-main= production.detail.title
				a.link-wherebuy(href="modal-prod.html" data-toggle="modal" data-target="#modalProd" data-filter="3") Где купить?
			.production-slider
				.swiper-container
					.swiper-wrapper
						each img in production.detail.images
							.swiper-slide
								img(src="#{img}", alt="")
					.swiper-pagination
			.production-desc
				//- .production-desc__item
				//- 	.production-desc__label Состав
				//- 	.production-desc__info= production.detail.info[0]
				//- .production-desc__item
				//- 	.production-desc__label В чем особенность?
				//- 	.production-desc__info= production.detail.info[1]
				//- .production-desc__item
				//- 	.production-desc__label Пищевая ценность на 100 г
				//- 	.production-desc__info= production.detail.info[2]
				.production-desc__text= production.detail.text
				.production-desc__item
					span.production-desc__label Состав:
					span.production-desc__info= production.detail.info[0]
				.production-desc__item
					span.production-desc__label Пищевая ценность на 100 г:
					span.production-desc__info= production.detail.info[1]
						
		.production-carousel
			.container
				.production-carousel-wrap
					.swiper-container
						.swiper-wrapper
							each item in production.blocks[0].items
								a.swiper-slide.production__item(href="")
									span.production__item-image
										img(src="#{item.img}", alt="")
									span.production__item-label= item.title
					.swiper-button-next
					.swiper-button-prev
					
	
