.production {

    &-list {
        margin-left: -10px;
        margin-right: -10px;
        font-size: 0;
        letter-spacing: 0;
        text-align: left;
        .production__item {
            position: relative;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
            vertical-align: top;
            text-align: center;
            &:hover {
                &:before {
                    opacity: 0.2;
                }
            }
        }
    }

    &__item {
        display: block;
        text-align: center;
        &-image {
            height: 176px;
            margin-bottom: 10px;
            line-height: 176px;
            > img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                line-height: normal;
                vertical-align: middle;
            }
        }
        &-desc {
            margin: 0 auto;
        }
        &-title {
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            font-family: 'HaginCaps', sans-serif;
            font-weight: normal;
        }
        &-info {
            display: none !important;
            letter-spacing: .01em;
            line-height: 24px;
            font-size: 15px;
        }
        span {
            display: block;
        }
    }

// Detail
    &-top {
        position: relative;
        margin-left: 7%;
        margin-right: 7%;
        margin-bottom: 25px;
        .title-main {
            margin: 0;
            margin-bottom: 10px;
        }
        .link-arrowed {
            display: none;
            left: 0;
            &:before {
                font-size: 1.7em;
                vertical-align: middle;
            }
        }
        .link-wherebuy {
            right: 0;
        }
    }

    &-slider {
        background-color: #f6f6f6;
        margin-bottom: 40px;
        .swiper-slide {
            height: 315px;
            img {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                max-width: 225px;
                max-height: 100%;
                margin: 0 auto;
                padding-top: 30px;
                padding-bottom: 30px;
                transform: translateY(-50%);
            }
        }
        .swiper-pagination {
            bottom: 15px;
        }
        .swiper-pagination-bullet {
            background: none;
            width: 9px;
            height: 9px;
            border: 1px solid #000;
            opacity: 1;
            transition: all $durGlob;
            &-active {
                background-color: #000;
            }
        }
    }
    &-desc {
        position: relative;
        padding-top: 70px;
        margin: 0 auto;
        text-align: center;
        &:before {
            content: '';
            background: url($img-path + 'product-desc-decor.png') no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 39px;
            height: 40px;
            margin: 0 auto;
        }
        &__text {
            margin-bottom: 35px;
            @include text();
        }
        &__item {
            position: relative;
            font-size: 14px;
        }
        &__label {
            padding-right: 5px;
            @include text();
            font-weight: 500;
        }
        &__info {
            @include text();
        }
    }
    &-carousel {
        display: none;
        padding-top: 70px;
        border-top: 1px solid #e2e2e2;
        &-wrap {
            position: relative;
            padding-left: 100px;
            padding-right: 100px;
        }
        .swiper-button-prev,
        .swiper-button-next {
            @include bgs('carousel-nav');
            width: 36px;
            height: 25px;
        }
        .swiper-button-prev {
            transform: rotate(180deg);
        }
        .production__item-image {
            height: 145px;
            line-height: 145px;
        }
        .production__item-label {
            font-weight: 300;
            font-size: 15px;
        }
    }
}

@media (min-width: $screen-xs-min) {
    .production {
        &-list {
            margin-left: -15px;
            margin-right: -15px;
            .production__item {
                display: inline-block;
                width: 33.33%;
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 30px;
                padding-bottom: 32px;
                &:before {
                    content: '';
                    background-color: #000;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    width: 55px;
                    height: 1px;
                    margin: 0 auto;
                    transition: opacity $durGlob;
                }
            }
        }
        &__item {
            &-image {
                height: 215px;
                margin-bottom: 20px;
                line-height: 215px;
            }
            &-info {
                display: block !important;
            }

            &._wide {
                width: 66.66%;
            }
        }
        &-slider {
            margin-bottom: 75px;
            .swiper-slide {
                height: auto;
                @include aspect-ratio(2.11);
                img {
                    max-width: 100%;
                    padding-top: 50px;
                    padding-bottom: 50px;
                }
            }
            .swiper-pagination {
                bottom: 25px;
            }
        }
        &-desc {
            width: 76.5%;
            margin-bottom: 100px;
            padding-top: 70px;
        }
        &-carousel {
            display: block;
            margin-left: -85px;
            margin-right: -85px;
            > .container {
                padding-left: 100px;
                padding-right: 100px;
            }
        }
    }
}
@media (min-width: $screen-sm-min) {
    .production {
        &-list {
            margin-left: -25px;
            margin-right: -25px;
            .production__item {
                padding-left: 25px;
                padding-right: 25px;
                margin-bottom: 50px;
            }
        }
        &-top {
            min-height: 52px;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 40px;
            .title-main {
                margin: 0 150px;
            }
            > [class^="link-"],
            > [class*="link-"] {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 15px;
            }
            .link-arrowed {
                display: block;
            }
        }
        &-carousel {
            margin-left: -75px;
            margin-right: -75px;
        }
    }
}
@media (min-width: $screen-md-min) {
    .production {
        &-top {
            min-height: 60px;
        }
        &-slider {
            .swiper-slide {
                img {
                    padding-top: 70px;
                    padding-bottom: 70px;
                }
            }
        }
        &-carousel {
            margin-left: -125px;
            margin-right: -125px;
            > .container {
                padding-left: 150px;
                padding-right: 150px;
            }
        }
    }
    .swiper-pagination {
        bottom: 45px;
    }
}
