each block, index in production.blocks
	.main-content__section._banner.parallaxBg(id="#{nav[activeNavIndex].subnav[index].link}" style="background-image: url(#{block.bannerImg});" data-speed="15" data-start="true")
	.main-content__section._description
		.container
			h1.title-main= block.title
			p= block.text
			.production-list.prodList
				each item in block.items
					if item.type == "wide"
						a.production__item._wide(href="#{pages[5]}")
							span.production__item-image
								img(src="#{item.img}", alt="")
							span.production__item-desc
								span.production__item-title= item.title
								span.production__item-info= item.info
					else
						a.production__item(href="#{pages[5]}")
							span.production__item-image
								img(src="#{item.img}", alt="")
							span.production__item-desc
								span.production__item-title= item.title
								span.production__item-info= item.info
