@mixin sprite-width($sprite) {
	width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
	height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
	$sprite-offset-x: nth($sprite, 3);
	$sprite-offset-y: nth($sprite, 4);
	background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
	$sprite-image: nth($sprite, 9);
	background-image: url(images/#{$sprite-image});
}

@mixin sprite($sprite) {
	@include sprite-image($sprite);
	@include sprite-position($sprite);
	@include sprite-width($sprite);
	@include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
	@each $sprite in $sprites {
		$sprite-name: nth($sprite, 10);
		.#{$sprite-name} {
			@include sprite($sprite);
		}
	}
}

@mixin bgs($name) {
	background: url($svg-path+$name+'.svg') no-repeat;
}

@mixin aspect-ratio-content($width, $height) {
  position: relative;
  &:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: ($height / $width) * 100%;
  }
  > .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
}
@mixin aspect-ratio($ratio-or-width, $height: null) {
  $padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
  &:before { content:''; float: left; padding-bottom: $padding;  }
  &:after  { content:''; display: table; clear: both;  }
}
@mixin bg-terms() {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@mixin label() {
	margin-bottom: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 10px;
	@media (min-width: $screen-xs-min) {
		margin-bottom: 17px;
		font-size: 15px;
	}
}
@mixin title() {
	line-height: 1;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-family: 'HaginCaps', sans-serif;
	font-weight: normal;
	font-size: 35px;
	color: #000;
	@media (min-width: $screen-xs-min) {
		font-size: 52px;
	}
	@media (min-width: $screen-sm-min) {
		font-size: 60px;
	}
}
@mixin text() {
	letter-spacing: 0.01em;
	line-height: 20px;
	font-size: 14px;
	@media (min-width: $screen-xs-min) {
		line-height: 26px;
		font-size: 17px;
	}
	@media (min-width: $screen-sm-min) {
		line-height: 31px;
		font-size: 20px;
	}
}

@mixin workspace() {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;

	@media screen and (min-width: $screen-xs-min) {
		// max-width: 1290px;
		padding-left: 85px;
		padding-right: 85px;
	}
	@media screen and (min-width: $screen-sm-min) {
		// max-width: 1360px;
		padding-left: 75px;
		padding-right: 75px;
	}
	@media screen and (min-width: $screen-md-min) {
		// max-width: none;
		padding-left: 125px;
		padding-right: 125px;
	}
}
