$main-color: gray;

$text-std: #000;


// Links
$link-decoration-color: #adadad;
$link-hover-decoration-color: #d0d0d0;

// Inputs
$input-c: #000;
$input-required-star: #860505;

$durGlob: .3s;


// Paths
$fonts-path: '../../fonts/';
$svg-path: '../../images/svg/';
$img-path: '../../images/';
