include ../helpers/variables
include ../helpers/mixins

+script([], [
	'app.js',
])

block changeVar
	-var banner = false
	-var activeNavIndex = null
	-var activeSubnav = false
	-var activeSubnavIndex = null

doctype html
html(lang='ru')
	include ../blocks/head/head

	body
		.body-wrap
			.main-container(class="#{classPageAdd || ''}")
				if banner
					.fixBg(style="background-image: url(#{mainPage.banner})")
						.logo
					.stable-content
						//Header
						block header
							include ../blocks/header/header
						//END-Header

						//Content
						.main-content
							block content
						//END-Content

						//Footer
						block footer
							include ../blocks/footer/footer
						//END-Footer
				else
					//Header
					block header
						include ../blocks/header/header
					//END-Header

					//Content
					.main-content
						block content
					//END-Content

					//Footer
					block footer
						include ../blocks/footer/footer
					//END-Footer

			block addition-content

		block scripts
			include ../blocks/scripts/scripts
		block includeScripts
