block modal-variables
	-var idModal, classModal

.modal.fade(tabindex="-1" role="dialog" id="#{idModal || ''}" class="#{classModal || ''}")
	button.close.ficon-close(type="button" data-dismiss="modal")
	.modal-dialog
		.modal-content
