.main-content__section._banner.parallaxBg(style="background-image: url(#{manufacturePage.bannerImg});" data-speed="15" data-start="true")
.main-content__section._description
	.container
		h1.title-main= manufacturePage.title
		p= manufacturePage.text[0]
		.image-content-block
			each img in manufacturePage.images[0]
				if img.type == "half"
					.image-content._half
						.image-content__item(style="background-image: url(#{img.src});")
				else
					.image-content
						.image-content__item(style="background-image: url(#{img.src});")
		p= manufacturePage.text[1]
		.image-content-block
			each img in manufacturePage.images[1]
				if img.type == "half"
					.image-content._half
						.image-content__item(style="background-image: url(#{img.src});")
				else
					.image-content
						.image-content__item(style="background-image: url(#{img.src});")
		.pag-page
			.col-ib
			.col-ib
				a.link-arrowed.pag-page__item(href="#{pages[2]}") Дальше - наша команда
