.wherebuy
	.wherebuy-map#wherebuy-map
	button.wherebuy-places-button-list(type="button") Показать в виде списка
	.wherebuy-places
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wherebuy-list
						//- 	a.wherebuy-list-item(href="")
						//- 		span.wherebuy-list-item__title Главхлеб
						//- 		span.wherebuy-list-item__address ул. Мытная, 74, Даниловский рынок
			.swiper-scrollbar.wherebuy-scrollbar
		.wherebuy-list-detail
			.wherebuy-list-detail__header
				a.wherebuy-list-detail__close(href="") Все места
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wherebuy-list-detail__desc
							.wherebuy-list-detail__desc-top
								//- .wherebuy-list-detail__title Главхлеб
								//- .wherebuy-list-detail__address ул. Мытная, 74, Даниловский рынок
								//- .wherebuy-list-detail__worktime 10:00–20:00
								//- .wherebuy-list-detail__phone
								//- 	a(href="tel: +7 (495) 45-67-89") +7 (495) 45-67-89
								//- .wherebuy-list-detail__site
								//- 	a(href="http://glavxleb.com") glavxleb.com
							.wherebuy-list-detail-items
								.wherebuy-list-detail-items__title Здесь есть
								ul
									//- 	li: a(href="") рогалик
									//- 	li: a(href="") круассан
									//- 	li: a(href="") бородинский хлеб
									//- 	li: a(href="") французская булка
									//- 	li: a(href="") улитка с маком
									//- 	li: a(href="") слойка с вишней
									//- 	li: a(href="") рогалик
									//- 	li: a(href="") круассан
									//- 	li: a(href="") бородинский хлеб
									//- 	li: a(href="") супер булка
									//- 	li: a(href="") улитка с маком
									//- 	li: a(href="") слойка с вишней
				.swiper-scrollbar.wherebuy-scrollbar-detail
			.wherebuy-list-detail-info Это ресторан, поэтому, пожалуйста, уточняйте можно ли в нём купить нашу продукцию на вынос.
