.wherebuy {
    position: relative;
    height: calc(100vh - 68px);

    &-map {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

// TODO: Places
    &-places {
        position: absolute;
        top: 50px;
        right: 50px;
        bottom: 50px;
        width: 350px;
        background-color: #fff;
        overflow: hidden;

        &-button-list {
            display: none;
            position: absolute;
            top: -1px;
            left: 0;
            right: 0;
            width: 100%;
            padding: 0 55px;
            border: none;
            border-bottom: 1px solid #e1e1e1;
            outline: none;
            text-align: left;
            line-height: 42px;
            font-size: 14px;
            background-color: #fff;
            z-index: 2;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 20px;
                width: 26px;
                height: 26px;
                @include bgs('wherebuy-mob-button');
                transform: translateY(-50%);
            }
        }

        > .swiper-container {
        }
        .swiper-container {
            height: 100%;
        }
        .swiper-slide {
            height: auto;
        }
        .swiper-scrollbar {
            background: none;
            top: 15px;
            bottom: 15px;
            height: auto;
        }
        .swiper-scrollbar-drag {
            background: #b8b8b8;
        }
        .wherebuy-scrollbar {
            &-detail {
                top: 70px;
                bottom: 2px;
                height: auto;
            }
        }
    }
    &-list {
        padding-top: 20px;
        &-item {
            display: block;
            padding: 15px 35px;
            font-size: 15px;
            transition: background $durGlob;
            user-select: none;
            &:hover,
            &._active {
                background-color: #efefef;
                color: #000;
            }
            &._invisible {
                display: none;
            }

            &__title {
                display: block;
                font-weight: normal;
            }
            &__address {
                display: block;
                font-weight: 300;
            }
        }

// TODO: list-detail
        &-detail {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding-bottom: 35px;
            background-color: #fff;
            z-index: 1;
            transform: translateX(100%);
            transition: transform $durGlob;
            &._active {
                transform: translateX(0);
                transition: transform $durGlob;
                .wherebuy-list-detail__desc {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity $durGlob * 2 $durGlob;
                }
                .wherebuy-list-detail-info {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity $durGlob * 2 $durGlob;
                }
            }
            &._info {
                padding-bottom: 120px;
                .wherebuy-list-detail-items__title {
                    &:after {
                        content: '*:';
                    }
                }
                .wherebuy-list-detail-info {
                    display: block;
                }
                .wherebuy-list-detail__desc {
                    .wherebuy-list-detail-info {
                        display: none;
                    }
                }
            }

            &__header {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                padding-left: 12px;
                background-color: #141414;
                z-index: 2;
                a {
                    position: relative;
                    display: inline-block;
                    padding: 13px 14px 13px 22px;
                    font-size: 15px;
                    color: #fff;
                    user-select: none;
                    &:before {
                        content: '\2190';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        font-size: 1.5em;
                        transform: translateY(-50%);
                    }
                }
            }

            &__desc {
                line-height: 1.7;
                padding: 35px;
                padding-bottom: 0;
                opacity: 0;
                visibility: hidden;
                transition: opacity $durGlob, visibility 0s $durGlob;
                transition-timing-function: linear;
                &-top {
                    margin-bottom: 30px;
                    > span {
                        display: block;
                        word-break: break-word;
                    }
                }

                .wherebuy-list-detail-info {
                    display: none;
                }
            }

            &__title {
                margin-bottom: 15px;
                line-height: 1;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                font-family: 'HaginCaps', sans-serif;
                font-weight: normal;
                font-size: 32px;
            }

            &-items {
                &__title {
                    font-weight: normal;
                    &:after {
                        content: ':';
                    }
                }
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
            }

            &-info {
                display: none;
                position: absolute;
                right: 19px;
                bottom: 17px;
                left: 19px;
                height: 85px;
                padding: 17px 21px;
                font-size: 12px;
                background-color: #fff0d7;
                opacity: 0;
                visibility: hidden;
                transition: opacity $durGlob, visibility 0s $durGlob;
                transition-timing-function: linear;
                &:before {
                    content: '*';
                    position: absolute;
                    top: 17px;
                    left: 13px;
                }
            }

            > .swiper-container {
                padding-top: 46px;
            }
        }

    }
}

@media (max-width: $screen-sm-min - 1) {
    .wherebuy {
        &-places {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: none;
            z-index: -1;
            transition: z-index 0s $durGlob;
            &._open {
                z-index: 1;
                transition: none;
            }

            &-button-list {
                display: block;
            }

            > .swiper-container {
                background-color: #fff;
                padding-top: 42px;
                opacity: 0;
                visibility: hidden;
                transform-origin: top;
                transform: scaleY(0);
                transition: opacity $durGlob, transform $durGlob, visibility 0s $durGlob;
                &._open {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);
                    transition: opacity $durGlob, transform $durGlob;
                }

            }

        }

        &-list {
            &-item {
                font-size: 14px;
            }

            &-detail {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding-bottom: 0;
                transform: none;
                opacity: 0;
                visibility: hidden;
                transition: opacity $durGlob, visibility 0s $durGlob, z-index 0s $durGlob;
                z-index: -1;
                &._active {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity $durGlob;
                    z-index: 1;
                    .wherebuy-list-detail__desc {

                    }
                }
                &._info {
                    padding-bottom: 0;
                    .wherebuy-list-detail-info {
                        display: none;
                    }
                    .wherebuy-list-detail__desc {
                        .wherebuy-list-detail-info {
                            display: block;
                        }
                    }
                }

                &__header {
                    background: none;
                    position: static;
                    a {
                        position: absolute;
                        top: 62px;
                        right: 20px;
                        padding: 0;
                        width: 11px;
                        height: 11px;
                        z-index: 2;
                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: #000;
                        }
                        &:before {
                            transform: rotate(45deg);
                        }
                        &:after {
                            transform: rotate(-45deg);
                        }
                    }
                }
                &__desc {
                    visibility: visible;
                    opacity: 1;
                    transition: none;
                    padding: 40px;
                    .wherebuy-list-detail-info {
                        display: block;
                        position: relative;
                        right: auto;
                        bottom: auto;
                        left: auto;
                        margin-left: -20px;
                        margin-right: -20px;
                        margin-bottom: 17px;
                    }
                }

                > .swiper-container {
                    padding-top: 42px;
                }
            }
        }
    }
}

@media (min-width: $screen-xs-min) {
    .wherebuy {
        height: calc(100vh - 78px);
    }
}
