.main-content__section._banner.parallaxBg(style="background-image: url(#{blog.detail.bannerImg});" data-speed="15" data-start="true")
.main-content__section._description
	.container
		.article-main__label= blog.detail.date
		h1.title-main= blog.detail.title
		p= blog.detail.info
		.image-content-block.alignImages
			each img in blog.detail.images.list
				if img.type == "half"
					.image-content._half
						.image-content__item(style="background-image: url(#{img.src});")
				else if img.type == "half long"
					.image-content._half._long
						.image-content__item(style="background-image: url(#{img.src});")
				else
					.image-content
						.image-content__item(style="background-image: url(#{img.src});")
		.pag-page
			.col-ib
				a.link-arrowed._back.pag-page__item(href="") Книжная подборка от Романа Бунякова
			.col-ib
				a.link-arrowed.pag-page__item(href="") Проверка качества
