.modalProd {
	.modal-dialog {
		position: absolute;
		top: 68px;
		right: 0;
		bottom: 68px;
		left: 0;
		width: auto !important;
		margin: 0;
		margin-left: 20px;
		margin-right: 20px;
	}
	.modal-content,
	.modal-body {
		height: 100%;
		padding: 0;
	}
	.wherebuy {
		height: 100%;
	}

	.close {
		position: absolute;
		top: 15px;
		right: 25px;
		width: 35px;
		height: 35px;
		padding: 0;
		background: none;
		outline: none;
		border: none;
		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			height: 4px;
			margin-top: -2px;
			background-color: #fff;
			cursor: pointer;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}

.modal-backdrop.in {
	opacity: .7;
}

@media (min-width: $screen-xs-min) {
	.modalProd {
		.modal-dialog {
			top: 78px;
			bottom: 78px;
			margin-left: 100px;
			margin-right: 100px;
		}
		.close {
			top: 25px;
			width: 40px;
			height: 40px;
		}
	}
}

@media (min-width: $screen-md-min) {
	.modalProd {
		.modal-dialog {
			margin-left: 150px;
			margin-right: 150px;
		}
	}
}
