each item in mainPage
	if type == "blog"
		.main-content__section.article-main
			.article-main__info
					.article-main__desc
						.article-main__label Последнее из блога
						.article-main__title= item.title
						.article-main__text= item.text
						a.write-more(href="") Читать дальше
			.article-main__image(style="background-image: url(#{item.img})")
	if type == "instagram"
		.main-content__section.article-main._instagram
			.article-main__info
				.article-main__label= Instagram
				.article-main-list
					each img in item.images
						.article-main-list__item(style="background-image: url(#{img})")
	else
		.main-content__section.article-main
			.article-main__info
					.article-main__desc
						.article-main__title._decorated= item.title
			.article-main__image(style="background-image: url(#{item.img})")
		
