.mainHeader {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 15px 20px;
	border-bottom: 1px solid #e2e2e2;
	z-index: 5;
	transition: padding $durGlob;
	#{'.stable-content'} & {
		position: absolute;
	}
	&.affix-top {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		#{'.stable-content'} & {
			.main-logo {
				opacity: 0;
				visibility: hidden;
				transition: opacity $durGlob, visibility 0s $durGlob;
			}
		}
	}
	&.affix {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	&._openSubnav{
		+ .main-content{
			padding-top: 124px;
		}
	}
}


.main-logo {
	display: inline-block;
	position: relative;
	@include bgs('logo-nav');
	width: 53px;
	height: 41px;
	text-decoration: none;
	z-index: 1;
	transition: opacity $durGlob;

}
.main-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 78px;
	text-align: center;
	&__item {
		display: inline-block;
		padding: 0 12px;
		font-size: 20px;
		&:hover,
		&._active {
			color: $link-hover-color;
		}
		&._active {
			.main-nav__item {
				color: $link-hover-color;
			}
			.main-subnav {
				display: block;
			}
		}

	}
}
div.main-nav__item {
	padding: 0;
}
.main-subnav {
	background-color: #fff;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 43px;
	border-top: 1px solid #e2e2e2;
	&__item {
		padding: 0 7px;
		font-weight: normal;
		font-size: 14px;
		&:hover {
			color: $link-hover-color;
		}
	}
	> li {
		display: inline-block;
		&.active {
			> a {
				color: $link-hover-color;
			}
		}
	}
}
.header-socials {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	&__item {
		display: inline-block;
		position: relative;
		width: 34px;
		height: 34px;
		margin: 0 5px;
		border: 1px solid #1d1d1d;
		border-radius: 50%;
		vertical-align: middle;
		line-height: 34px;
		text-align: center;
		font-family: 'HaginCaps', sans-serif;
		font-size: 17px;
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin: 0 auto;
			transform: translateY(-50%);
			transition: opacity $durGlob;
			backface-visibility: hidden;
		}
		&:hover,
		&:focus {
			border-color: $link-hover-color;
			color: $link-hover-color;
			&:before {
				opacity: 0.3;
			}
		}
		&._fb {
			&:before {
				@include bgs('fb');
				width: 7px;
				height: 15px;
			}
		}
		&._inst {
			&:before {
				@include bgs('inst');
				width: 15px;
				height: 15px;
			}
		}
	}
}

.mob-menu {
	display: none;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	width: 46px;
	height: 46px;
	padding: 0;
	border: none;
	background: none;
	outline: none;
	span {
		position: absolute;
		top: 50%;
		right: 8px;
		left: 8px;
		height: 3px;
		background-color: #000;
		transition: background 0s $durGlob;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: inherit;
			background-color: #000;
			transition: top $durGlob $durGlob, bottom $durGlob $durGlob, transform $durGlob;
		}
		&:before {
			top: -8px;
		}
		&:after {
			bottom: -8px;
		}
	}

	&._open {
		span {
			background-color: transparent;
			&:before,
			&:after {
				transition: top $durGlob, bottom $durGlob, transform $durGlob $durGlob;
			}
			&:before{
				top: 0;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
	}
}

@media (max-width: $screen-sm-min - 1) {
	.main-nav {
		&__item {
			font-size: 16px;
		}
	}

	.header-socials {
		&__item {
			width: 30px;
			height: 30px;
		}
	}
}

@media (max-width: $screen-xs-min - 1) {
	.mainHeader {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 10px 20px;
		border-bottom: 1px solid #e2e2e2;
		&.affix-top {
			position: fixed;
			#{'.stable-content'} & {
				.main-logo {
					transition: none;
				}
			}
		}
		&._openSubnav{
			+ .main-content{
				padding-top: 68px;
			}
		}
	}

	.main-logo {
		opacity: 1 !important;
		visibility: visible !important;
	}

	.main-nav {
		display: block;
		background-color: #fff;
		top: 100%;
		bottom: auto;
		padding-top: 38px;
		padding-bottom: 48px;
		margin-top: 1px;
		border-bottom: 1px solid #e1e1e1;
		opacity: 0;
		visibility: hidden;
		transform-origin: top;
		transform: scaleY(0);
		transition: opacity $durGlob, visibility 0s $durGlob, transform $durGlob;
		&__item {
			display: block;
			padding: 0 20px;
			line-height: 31px;
			font-size: 18px;

			&._active {
				.main-subnav {
					display: block;
				}
			}
		}
	}

	.main-subnav {
		position: static;
		border: none;
		line-height: 31px;
		> li {
			display: block;
			&.active {
				> a {
					color: $link-hover-color;
				}
			}
		}
		&__item {
			font-weight: 300;
			font-size: 18px;
			color: #828282;
			&:hover {
				color: $link-hover-color;
			}
		}
	}

	.header-socials {
		display: none;
	}

	.mob-menu {
		display: block;
		&._open + .main-nav {
			opacity: 1;
			visibility: visible;
			transform: scaleY(1);
			transition: opacity $durGlob, transform $durGlob;
		}
	}
}
