header.mainHeader(class="#{activeSubnav ? '_openSubnav' : ''}" data-spy="affix" data-offset-top="0")
	a.main-logo(href="#{pages[0]}")
	button.mob-menu(type="button"): span
	nav.main-nav
		each li, i in nav
			if li.subnav && activeSubnav
				div.main-nav__item(class="#{li.scrollspy ? 'scrollSpy' : ''} #{activeNavIndex == i ? '_active' : ''}")
					a.main-nav__item(href="#{pages[li.link]}")= li.title
					ul.main-subnav.nav
						-function subActive(i, j)
							if activeNavIndex == i && activeSubnavIndex == j
								- return true;
							else if activeNavIndex == i && !activeSubnavIndex && j == 0
								- return true;
							else
								- return false;
						each subli, j in li.subnav
							-var anchorLi = typeof subli.link != 'number' ? '#' + subli.link : pages[subli.link]
							li(class="#{subActive(i, j) ? 'active' : ''}")
								a.main-subnav__item(href="#{anchorLi}")= subli.title
			else
				a.main-nav__item(href="#{pages[li.link]}" class="#{activeNavIndex == i ? '_active' : ''}")= li.title
	.header-socials
		a.header-socials__item._fb(href="")
		a.header-socials__item._inst(href="")
	
