.main-footer {
	background-color: #0b0b0b;
	&-top {
		background: url($img-path+'footer-bg.jpg') top center no-repeat;
		background-size: cover;
		padding-top: 35px;
		padding-bottom: 10px;
		color: #fff;
	}
	.form {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}
}
.footer-info {
	position: relative;
	padding-top: 85px;
	letter-spacing: 0.02em;
	&:before {
		content: '';
		display: none;
		background: url($img-path + 'logo-footer.png') no-repeat;
		position: absolute;
		top: -20px;
		left: 0;
		width: 143px;
		height: 205px;
	}
	[class^="col-"],
	[class*="col-"] {
		position: static;
		padding-left: 0;
		padding-right: 0;
	}
}
.footer-contacts {
	&__item {
		margin-bottom: 25px;
		line-height: 1.6;
		margin-bottom: 25px;
		* {
			color: #fff;
		}
	}
	&__label {
		display: block;
		padding-right: 3px;
		font-weight: normal;
	}
	& &__item {
		margin-bottom: 25px;
		a {
			display: inline;
		}
	}
}
.footer-copyright {
	max-width: 710px;
	margin: 0 auto;
	padding: 35px 40px;
	text-align: left;
	color: #313131;
}

@media (max-width: $screen-xs-min - 1) {
	.main-footer{
		&-top {
			.container {
				padding-left: 40px;
				padding-right: 40px;
			}
		}
	}
}

@media (min-width: $screen-xs-min) {
	.main-footer {
		&-top {
			padding-top: 110px;
			padding-bottom: 90px;
		}
		.form {
			position: static;
			max-width: 550px;
		}
	}

	.footer-info {
		padding-top: 0;
		padding-left: 210px;
		&:before {
			display: block;
		}
		[class^="col-"],
		[class*="col-"] {
			position: relative;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.footer-contacts {
		margin-bottom: 25px;
		&__item {
			margin-bottom: 0;
		}
		&__label {
			display: inline-block;
		}
		& &__item {
			margin-bottom: 0;
		}
	}
	.footer-copyright {
		padding: 30px 0;
		text-align: center;
	}
}

@media (min-width: $screen-sm-min) {
	.main-footer {
		&-top {
			min-height: 460px;
			padding-top: 135px;
			padding-bottom: 120px;
		}
		.form {
			max-width: 320px;
		}
	}
	.footer-info {
		min-height: 190px;
		&:before {
			left: 22px;
		}
		[class^="col-"],
		[class*="col-"] {
			&:last-of-type {
				margin-left: -38px;
			}
		}
	}
	.footer-contacts {
		margin-bottom: 35px;
		max-width: 320px;
	}
}
