footer.main-footer
	.main-footer-top
		.container
			.footer-info
				.clearfix
					.col-md-7
						.footer-contacts
							.footer-contacts__item
								span.footer-contacts__label Адрес пекарни:
								span= footer.contact.address
							.footer-contacts__item
								span.footer-contacts__label Телефон:
								a(href="tel: #{footer.contact.phone}")= footer.contact.phone
							.footer-contacts__item
								span.footer-contacts__label Общие вопросы:
								a(href="mailto: #{footer.contact.email}")= footer.contact.email
						form.form(action="")
							.form-group
								.input-grouped._light
									input.form-control(type="text" placeholder="E-mail рассылка")
									button.btn._arrowed(type="submit")
							
							
					.col-md-5
						each item in footer.extra
							.footer-contacts__item
								span.footer-contacts__label= item.type
									|:
								span= item.name
								div: a(href="mailto: #{item.email}")= item.email
	.footer-copyright= footer.copyright
			
