.blog {
    &-list {

    }
    &-item {
        padding-bottom: 40px;
        border-bottom: 1px solid #b5b5b5;
        @include text();
        &:not(:last-child) {
            margin-bottom: 45px;
        }
        .article-main {
            &__label {
                margin-bottom: 23px;
            }
            &__title {
                margin: 0 auto 0.8em;
            }
            &__text {
                margin-left: auto;
                margin-right: auto;
                @include text();

                @media (min-width: $screen-sm-min) {
                    width: 76.5%;
                }
            }
        }
        a {
            &:hover {
                > img {
                    opacity: 0.8;
                }
            }
        }
        img {
            margin-bottom: 35px;
            transition: opacity $durGlob;
        }
        > .container {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (min-width: $screen-xs-min) {
    .blog {
        &-item {
            padding-bottom: 90px;
            &:not(:last-child) {
                margin-bottom: 70px;
            }
            > .container {
                padding-left: 100px;
                padding-right: 100px;
            }
            .article-main {
                &__title {
                    margin: 0 20% 1.5em;
                }
            }
            img {
                margin-bottom: 68px;
            }
        }
    }
}
@media (min-width: $screen-md-min) {
    .blog {
        &-item {
            > .container {
                padding-left: 150px;
                padding-right: 150px;
            }
        }
    }
}
