.main-content__section._banner.parallaxBg(style="background-image: url(#{blog.bannerImg});" data-speed="15" data-start="true")
.main-content__section._blog
		.blog-list
			each item in blog.items
				.blog-item
					.container
						.article-main__label= item.date
						.article-main__title= item.title
						a(href="#{pages[9]}")
							img(src="#{item.img}", alt="")
						.article-main__text= item.info
						a.write-more(href="#{pages[9]}") Читать дальше
		.load-more
			a.load-more-btn(href="") Загрузить еще
	
