-var geoModal = 'geoModal', searchModal = 'searchModal', registerModal = 'registerModal', loginModal = 'loginModal', servicesModal = 'servicesModal', galleryModal = 'galleryModal', mobModal = 'mobModal'
-var pageTitle = 'glavhleb'
-var classPageAdd
