.contacts {
	&__group {
		margin-bottom: 40px;
	}
	&__item {
		margin-bottom: 15px;
		@include text();
	}
	&__label {
		display: block;
		padding-right: 3px;
		font-weight: normal;
	}
	&-map {
		display: block;
		position: relative;
		width: 100%;
		min-height: 300px;
		vertical-align: top;
		@include aspect-ratio(1160, 595);
		margin-left: auto;
		margin-right: auto;
		&-wrap {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

@media (min-width: $screen-xs-min) {
	.contacts {
		&__group {
			margin-bottom: 25px;
		}

		&__item {
			margin-bottom: 0;
		}

		&__label {
			display: inline-block;
			padding-right: 3px;
			font-weight: normal;
		}

		&-map {
			margin-top: 150px;
		}
	}
}

// @media screen and (min-width: $screen-xs-min) {
// 	.contacts-map {
// 		padding-left: 100px;
// 		padding-right: 100px;
// 		&-wrap {
// 			left: 100px;
// 			right: 100px;
// 		}
// 	}
// }
