.main-content__section._banner.parallaxBg(style="background-image: url(#{contactsPage.bannerImg});" data-speed="15" data-start="true")
.main-content__section._description
	.container
		h1.title-main= contactsPage.title
		.contacts
			each block in contactsPage.blocks
				.contacts__group
					each item in block.items
						.contacts__item
							span.contacts__label= item.title
								|:
							each info, index in item.info
								if info.type
									a(href="#{info.type}: #{info.title}")= info.title
								else
									span= info.title
								if index < item.info.length - 1 && item.delimiter
									span= item.delimiter
					
			//- .contacts-item.text-center
			//- 	a.doc._pdf(href="") Скачать презентацию для партнеров
				
		.contacts-map
			.contacts-map-wrap#contacts-map
			
