extends layout/default

append changeVar
	-activeNavIndex = 1
	-activeSubnav = false

block content
	include blocks/production/detail/template
	
block addition-content
	include blocks/modals/prod-detail
	
block includeScripts
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB67mnE4gfdJXh-pyGLmVGAh5WzqvIqBM&libraries=geometry" async defer)
