extends layout/default

append changeVar
	-activeNavIndex = 6
	-activeSubnav = false

block content
	.main-content__section
		include blocks/wherebuyPage/template

block includeScripts
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB67mnE4gfdJXh-pyGLmVGAh5WzqvIqBM&libraries=geometry&callback=blocks.wherebuy.initMap" async defer)
