.main-content__section._banner.parallaxBg(style="background-image: url(#{historyPage.bannerImg});" data-speed="15" data-start="true")
.main-content__section._description
	.container
		h1.title-main= historyPage.title
		p= historyPage.text[0]
		.image-content-block
			each img in historyPage.images[0]
				if img.type == "half"
					.image-content._half
						.image-content__item(style="background-image: url(#{img.src});")
				else
					.image-content
						.image-content__item(style="background-image: url(#{img.src});")
		p= historyPage.text[1]
		.image-content-block
			each img in historyPage.images[1]
				if img.type == "half"
					.image-content._half
						.image-content__item(style="background-image: url(#{img.src});")
				else
					.image-content
						.image-content__item(style="background-image: url(#{img.src});")
		.pag-page
			.col-ib
			.col-ib
				a.link-arrowed.pag-page__item(href="#{pages[3]}") Дальше - о том, как мы производим хлеб
