.article {

}

.article-main {
	&__info {
		min-height: 430px;
		text-align: center;
		font-size: 0;
		.article-main__label {
			display: inline-block;
		}
		&:not(._not-aligned) {
			@include aspect-ratio-content(1360, 656);
			> .content:before {
				content: '';
				display: inline-block;
				width: 0;
				height: 100%;
				vertical-align: middle;
			}
		}
		&._not-aligned {
			@extend .container;
		}
		> .content {
			@extend .container;
		}
	}
	&__desc {
		display: inline-block;
		width: 100%;
		max-width: 770px;
		vertical-align: middle;
		text-align: center;
		@include text();
	}
	&__label {
		@include label();
	}
	&__title {
		display: block;
		@include title();
		&._decorated {
			position: relative;
			padding-bottom: 60px;
			line-height: 32px;
			font-size: 28px;
			&:before {
				content: '';
				background: url($img-path + 'text-decor.png') no-repeat;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 39px;
				height: 38px;
				margin: 0 auto;
				transition: opacity $durGlob;
				background-size: cover;
			}
			&:hover {
				&:before {
					opacity: .3;
				}
			}
			@media (min-width: $screen-xs-min) {
				line-height: 55px;
				font-size: 48px;
			}
		}
	}
	&__text {
		margin-bottom: 20px;
		@include text();
	}
	&__image {
		@include aspect-ratio(1360, 678);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-height: 235px;
	}
	&._linked {
		.article-main {
			&__desc {
				max-width: 610px;
			}
		}
	}
	&._instagram {
		padding-top: 35px;
		padding-bottom: 85px;
		.article-main{
			&__info {
				height: auto;
				min-height: 0;
			}
			&__label {
				&:before {
					content: '';
					@include bgs('inst');
					display: inline-block;
					position: relative;
					top: -2px;
					width: 10px;
					height: 10px;
					margin-right: 10px;
					vertical-align: middle;
					background-size: cover;
				}
			}
			&-list {
				padding-top: 18px;
				@extend .justify;
				&__item {
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					display: inline-block;
					padding: 24.5%;
					margin-bottom: 1.75%;
					filter: grayscale(100%);
				}
			}
		}
	}
}

@media (min-width: $screen-xs-min) {

	.article-main {

		&__title {
			&._decorated {
				padding-bottom: 80px;
				&:before {
					width: 61px;
					height: 60px;
				}
			}
		}

		&__text {
			margin-bottom: 30px;
		}

		&._instagram {
			padding-top: 65px;
			padding-bottom: 145px;
			.article-main{
				&__info {
					height: auto;
				}
				&__label {
					&:before {
						width: 15px;
						height: 15px;
					}
				}
				&-list {
					padding-left: 10px;
					padding-right: 10px;
					padding-top: 37px;
					&__item {
						padding: 12.25%;
						margin-bottom: 0;
					}
				}
			}
		}
	}

}
@media (min-width: $screen-sm-min) {

	.article-main {
		&__info {
			&:not(._not-aligned) {
				max-height: 656px;
			}
		}
		&__title {
			&._decorated {
				margin-bottom: 5px;
			}
		}
	}
}

@media (min-width: $screen-md-min) {

	.article-main {
		&__title {
			&._decorated {
				margin-bottom: 25px;
			}
		}
	}
}
