.image-content {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	vertical-align: top;
	@include aspect-ratio(1160, 776);
	&-block {
		margin-bottom: 15px;
		margin-left: -10px;
		margin-right: -10px;
		@include clearfix();
		font-size: 0;
		letter-spacing: 0;
	}
	&__item {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 10px;
		right: 10px;
		bottom: 0;
	}
	&._long {
		@include aspect-ratio(0.7);
	}

}
.alignImages {
	.image-content {
		float: left;
	}
}

@media screen and (max-width: $screen-xs-min - 1) {
	.image-content {
		&._half._long + &._half + &._half._long + &._half {
			margin-top: 0 !important;
		}
	}
}

@media screen and (min-width: $screen-xs-min) {
	.image-content {
		margin-bottom: 30px;
		&-block {
			margin-bottom: 50px;
			margin-left: -15px;
			margin-right: -15px;
		}
		&__item {
			left: 15px;
			right: 15px;
		}
		&._half {
			display: inline-block;
			width: 50%;
			padding-left: 15px;
			padding-right: 15px;
			@include aspect-ratio(1.5);
		}
		&._long {
			@include aspect-ratio(0.7);
		}
	}
}
@media screen and (min-width: $screen-sm-min) {
	.image-content {
		margin-bottom: 50px;
		&-block {
			margin-left: -25px;
			margin-right: -25px;
		}
		&__item {
			left: 25px;
			right: 25px;
		}
		&._half {
			padding-left: 25px;
			padding-right: 25px;
		}
	}
}
