.main-content__section._banner.parallaxBg(style="background-image: url(#{teamPage.bannerImg});" data-speed="15" data-start="true")
.main-content__section._description
	.container
		h1.title-main= teamPage.title
		p= teamPage.text
		.image-content-block.alignImages
			each img in teamPage.images
				if img.type == "half"
					.image-content._half
						.image-content__item(style="background-image: url(#{img.src});")
				else if img.type == "half long"
					.image-content._half._long
						.image-content__item(style="background-image: url(#{img.src});")
				else
					.image-content
						.image-content__item(style="background-image: url(#{img.src});")
			
