each item in mainPage.items
	if item.type == "blog"
		.main-content__section.article-main._linked
			.article-main__info
				.content
					.article-main__desc
						.article-main__label Последнее из блога
						.article-main__title= item.title
						.article-main__text= item.text
						a.write-more(href="#{pages[item.link]}") Читать дальше
			.article-main__image.parallaxBg(style="background-image: url(#{item.img})" data-speed="15")
	if item.type == "instagram"
		.main-content__section.article-main._instagram
			.article-main__info._not-aligned
				.article-main__label Instagram
				.article-main-list
					each img in item.images
						a.article-main-list__item(href="" style="background-image: url(#{img})")
	if !item.type 
		.main-content__section.article-main
			.article-main__info
				.content
					.article-main__desc
						a.article-main__title._decorated(href="#{pages[item.link]}")= item.title
			.article-main__image.parallaxBg(style="background-image: url(#{item.img})" data-speed="15")
		
