body{
	font-family: TriviaSlab, sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
}
img {
	max-width: 100%;
	height: auto;
}
.justify{
	text-align: justify;
	text-align-last: justify;
	text-justify: newspaper;
	line-height: normal;
	font-size: 0px;
	zoom: 1;
	&:after{
		content: '';
		display: inline-block;
		width: 100%;
		height: 0;
	}
	& > *{
		display: inline-block;
		text-align: left;
		text-align-last: left;
		font-size: 14px;
	}
}
.title-main {
	margin-bottom: 15px;
	@include title();
}
.clearfix {
	@include clearfix;
}

.media-full {
	display: table-cell;
	vertical-align: middle;
}

.main-container {
	overflow: hidden;
}

.main-content {
	padding-top: 68px;
	&__section {
		&._banner {
			@include aspect-ratio(3.67);
			@include bg-terms();
			min-height: 125px;
		}
		&._description {
			padding-top: 23px;
			padding-bottom: 35px;
			text-align: center;
			@include text();
			@include workspace();
			letter-spacing: 0;
			p {
				margin: 0 auto 55px;
				@include text();
				@media (min-width: $screen-sm-min) {
					width: 76.5%;
				}
			}
		}
		&._blog {
			padding-top: 45px;
			padding-bottom: 0;
			@include text();
			text-align: center;
			letter-spacing: 0;
			.container {
				width: auto;
			}
			.main-content__section._banner {
				@include aspect-ratio(3.31);
				min-height: 410px;
			}

		}
	}
}

.write-more,
.link-arrowed {
	&:after {
		content: '\2192';
		padding-left: 5px;
	}
}
.link {
	&-arrowed {
		display: inline-block;
		text-align: left;
		@include text();
		&._back {
			&:before {
				content: '\2190';
				padding-right: 5px;
			}
			&:after {
				display: none;
			}
		}
	}
	&-wherebuy {
		&:before {
			content: '';
			background: url($img-path + 'geo-icon.png') no-repeat;
			display: inline-block;
			margin-right: 12px;
			width: 13px;
			height: 22px;
			vertical-align: middle;
			transition: opacity $durGlob;
		}
		&:hover {
			&:before {
				opacity: 0.3;
			}
		}
	}
}
.load-more {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	&-btn {
		display: inline-block;
		position: relative;
		padding-left: 33px;
		@include text();
		&:before {
			content: '';
			@include bgs('load-more');
			position: absolute;
			top: 50%;
			left: 0;
			width: 24px;
			height: 22px;
			transform: translateY(-50%);
			transition: opacity $durGlob;
		}
		&:hover {
			&:before {
				opacity: 0.3;
			}
		}
	}
}
.doc {
	display: inline-block;
	position: relative;
	padding-left: 33px;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		transition: opacity $durGlob;
		backface-visibility: hidden;
	}
	&:hover {
		&:before {
			opacity: 0.3;
		}
	}
	&._pdf {
		min-height: 25px;
		&:before {
			background: url($img-path + 'doc-icon.png') no-repeat;
			width: 20px;
			height: 25px;
		}
	}
}

.fixBg {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	text-align: center;
	> .logo {
		background: url($img-path + 'logo-main.png') no-repeat;
		background-size: cover;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		width: 229px;
		height: 330px;
		margin: -50px auto 0;
		transform: translateY(-50%);

	}
}
.stable-content {
	background-color: #fff;

	.main-content {
		padding-top: 0;
	}
}

.col {
	&-ib {
		display: inline-block;
		float: none;
	}
}

.pag-page {
	@extend .justify;
	margin: 0 auto;
	&__item {
		position: relative;
		max-width: 240px;
		text-align: center;
	}
	.col-ib {
		display: block;
		vertical-align: top;
		text-align: center;
		text-align-last: center;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

@media (max-width: $screen-xs-min - 1) {
	.fixBg {
		position: relative;
		margin-top: 68px;
		// height: calc(100vh - 68px);
		height: 500px;
		transform: none !important;
		.logo {
			top: 50%;
			margin-top: 0;
		}
	}
}

@media (max-width: $screen-xs-min - 1) {
	.parallaxBg {
		background-position: center !important;
	}
}

@media (min-width: $screen-xs-min) {
	body {
		font-size: 15px;
	}

	.title-main {
		margin-bottom: 25px;
	}

	.main-content {
		padding-top: 78px;
		overflow: hidden;
		&__section {
			&._banner {
				min-height: 370px;
			}
			&._description {
				padding-top: 70px;
				padding-bottom: 100px;
				p {
					margin: 0 auto 100px;
				}
			}
			&._blog {
				padding-top: 75px;
			}
		}
	}
	.stable-content {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin-top: -78px;
		padding-top: 78px;
	}
	.fixBg {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		> .logo {
			width: 261px;
			height: 377px;
		}
	}
	.parallaxBg {
		background-attachment: fixed;
	}

	.load-more {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.pag-page {

		&__item {
			padding-left: 0;
			padding-right: 18px;
			margin-right: -18px;
			text-align: left;
			text-align-last: left;
			&:after {
				position: absolute;
				top: 0;
				right: 0;
			}
			&._back {
				padding-right: 0;
				padding-left: 18px;
				margin-right: 0;
				margin-left: -18px;
				// text-align: right;
				// text-align-last: right;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}

		.col-ib {
			display: inline-block;
			width: 50%;
			margin-bottom: 0 !important;
			padding-right: 15px;
			// text-align: right;
			// text-align-last: right;
			text-align: left;
			text-align-last: left;
			&:last-child {
				padding-right: 0;
				padding-left: 15px;
				margin-right: 0;
				text-align: right;
				text-align-last: right;
				.pag-page__item {
					text-align: right;
					text-align-last: right;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	.pag-page {

		.col-ib {
			padding-right: 25px;
			&:last-child {
				padding-right: 0;
				padding-left: 25px;
			}
		}
	}
}


@import "forms";
