@font-face {
	font-family: 'HaginCaps';
	src: url($fonts-path+'HaginCapsMedium.eot');
	src: url($fonts-path+'HaginCapsMedium.eot?#iefix') format('embedded-opentype'),
		 url($fonts-path+'HaginCapsMedium.woff') format('woff'),
		 url($fonts-path+'HaginCapsMedium.ttf') format('truetype'),
		 url($fonts-path+'HaginCapsMedium.svg#HaginCaps') format('svg');
	font-style: normal;
	font-weight: normal;
}

// TriviaSlab
@font-face {
	font-family: 'TriviaSlab';
	src: url($fonts-path+'TriviaSlabRegular.eot');
	src: url($fonts-path+'TriviaSlabRegular.eot?#iefix') format('embedded-opentype'),
		 url($fonts-path+'TriviaSlabRegular.woff') format('woff'),
		 url($fonts-path+'TriviaSlabRegular.ttf') format('truetype'),
		 url($fonts-path+'TriviaSlabRegular.svg#TriviaSlab') format('svg');
	font-style: normal;
	font-weight: normal;
}

// TriviaSlab Light
@font-face {
	font-family: 'TriviaSlab';
	src: url($fonts-path+'TriviaSlabLight.eot');
	src: url($fonts-path+'TriviaSlabLight.eot?#iefix') format('embedded-opentype'),
		 url($fonts-path+'TriviaSlabLight.woff') format('woff'),
		 url($fonts-path+'TriviaSlabLight.ttf') format('truetype'),
		 url($fonts-path+'TriviaSlabLight.svg#TriviaSlab') format('svg');
	font-style: normal;
	font-weight: 300;
}
