.form {
	&-group {

	}
	&-control {
		background: none;
		height: 58px;
		padding: 6px 17px;
		border: 1px solid #aaaaaa;
		border-radius: 0;
		outline: none;
		font-family: 'TriviaSlab', sans-serif;
		font-size: 15px;
		&:hover,
		&:focus {
			border-color: #aaaaaa;
			outline: none;
			box-shadow: none;
		}
	}

}

.btn {
	&._arrowed {
		background: none;
		border: none;
		&:before {
			content: '\2192';
			font-size: 30px;
		}
	}
	&:hover,
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

.input {
	&-grouped {
		position: relative;
		.btn {
			position: absolute;
			width: 58px;
			top: 0;
			bottom: 0;
			right: 0;
		}
		.form-control {
			padding-right: 70px;

		}
		&._light {
			.btn ,
			.form-control {
				color: #fff;
			}
		}
	}
}
