/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ico-i-close-hover: (0px, 0px, 0px, 0px, 20px, 20px, 45px, 20px, 'sprite.png', 'ico-i-close-hover', );
$ico-i-close: (25px, 0px, -25px, 0px, 20px, 20px, 45px, 20px, 'sprite.png', 'ico-i-close', );
$spritesheet-sprites: ($ico-i-close-hover, $ico-i-close, );
$spritesheet: (45px, 20px, 'sprite.png', $spritesheet-sprites, );


